.message {
    height: 60px;
}

.empty {
    text-align: center;
    margin-top: 20px;
}

.content {
    text-align: center;
    font-weight: bold;
}

.example-viewport {
    height: 80vh;
    width: 100%;
    overflow-x: hidden;
    /* border: 1px solid black; */
}

