<div *ngIf="stored_chats.length != 0; else empty">
    <cdk-virtual-scroll-viewport itemSize="0" class="example-viewport">
        <div *cdkVirtualFor="let x of stored_chats" class="message">
            <app-chat-prev (openChatEvent)="bridge($event)" (deleteChatEvent)="deleteBridge($event)" [props]="x">
            </app-chat-prev>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
<ng-template #empty>
    <div class="content">
        <h2 class="empty">
            It's all empty here...
        </h2>
        <mat-icon>smart_toy</mat-icon>
    </div>
</ng-template>