<div class="chat-window">
  <div style="width: 300px; max-height:100%" cdkDragBoundary=".boundary" cdkDragLockAxis="x" cdkDrag>
    <div class="card mt-5">
      <div class="d-flex flex-row justify-content-between p-3 adiv text-black">
        <div>
        </div>
        <i class="fas fa-chevron-left"></i>
        <span class="pb-3">{{this.username}}</span>
        <i class="fas fa-times"></i>
        <mat-icon class="close" (click)="closeChat()">close</mat-icon>
      </div>
      <div class="container">
        <div *ngFor="let x of this.messages; let i = index">
          <app-message-bubble [props]="this.messages[this.messages.length-1-i]"></app-message-bubble>
        </div>
      </div>
      <div class="form-group px-3" style="display: flex; margin-left: 10px;">
        <textarea class="form-control" rows="5" #text placeholder="Type your message"></textarea>
        <mat-icon (click)="sendMessage(text.value); text.value='';">send</mat-icon>
      </div>
    </div>
  </div>
</div>