/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    background-color: #3A3042;
    background-image: url("./assets/sea.jpg");
    background-repeat: repeat;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
