/* You can add global styles to this file, and also import other style files */
body{
    background-color: #3A3042;
    background-image: url("./assets/splosoy.png");
}
.submit{
    display: inline-block;
    padding: 5px;
    background-color: #3A3042; 
    color: #DB9D47;
    border: 1px solid;
    border-color: #DB9D47;
    border-radius:10px;
}
.submit:hover{
    display: inline-block;
    padding: 5px;
    background-color: #DB9D47; 
    color: #3A3042;
    border: 1px solid;
    border-color: #DB9D47;
    border-radius:10px;
    cursor: pointer;

}