<div class="wrapper">
    <div class="container">
        <div class="players">
            <div class="player-box">
                <img src="https://img.icons8.com/ios-filled/344/user-male-circle.png" width="100%" alt="">
                <h2>Nome</h2>
            </div>
            <h1 class="versus">VS</h1>
            <div class="player-box">
                <img src="https://img.icons8.com/ios-filled/344/user-male-circle.png" width="100%"  alt="">
                <h2>???</h2>
            </div>
        </div>
    </div>
</div>

<div class="spinner-container-flex">
    <div class="spinner-container">
        <mat-spinner class="mm-spinner"></mat-spinner>
        <h2> Looking for a match...</h2>
    </div>
</div>

