.comp{
    color:black;
    top:200px;
    width:10vw;
    font-family: 'Press Start 2P', cursive;
}

.scene{
    width:100vw; 
    height:100vh - 500px;
    position:absolute;
    top:300px;
    text-align: center;
}

.button{
    color:white; 
    margin-right: 16px;
    text-decoration: underline; 
    background-color: #DB9D47; 
    border: #DB9D47;
}