.comp{
    color:black;
    top:200px;
    width:10vw;
}

.scene{
    width:100vw; 
    height:100vh - 500px;
    position:absolute;
    top:300px;
    text-align: center;
}

.button{
    color:white; 
    margin-right: 16px;
    text-decoration: underline; 
    background-color: #1976d2; 
    border: #1976d2;
}