<div *ngIf="!isOpened(); else isOpen" (click)="toggleStatus()">
    <mat-icon *ngIf="n_pending != 0" class="notification" [matBadge]="n_pending" matBadgeColor="warn"
        matBadgeSize="small">notifications_active</mat-icon>
    <mat-icon *ngIf="n_pending == 0" class="notification">notifications</mat-icon>
</div>

<ng-template #isOpen>
    <div class="box">
        <div class="banner">
            <div class="wrapper">
                <mat-icon class="notification-symbol" fill="true">notifications</mat-icon>
                <h1 class="header">Notifications</h1>
            </div>
            <mat-icon class="close-button" (click)="toggleStatus()">close</mat-icon>
        </div>
        <!-- socket notifications  -->
        <div *ngIf="socket_notifications.length > 0" class="list-container-socket">
            <div class="divider">
                <hr class="line-left">
                <div class="bubble">New</div>
                <hr class="line-right">
            </div>
            <li class="list-element" *ngFor="let x of socket_notifications" >
                <app-profile-banner [notification]="x"></app-profile-banner>
            </li>
        </div>
        <!-- db notifications  -->
        <div class="list-container-stored">
            <div class="divider">
                <hr class="line-left">
                <div class="bubble">Old</div>
                <hr class="line-right">
            </div>
            <li class="list-element" *ngFor="let x of stored_notifications" >
                <app-profile-banner [notification]="x"></app-profile-banner>
            </li>
        </div>
    </div>
</ng-template>