<app-play-game-panel *ngIf="!isPlaying(); else game" (gameEvent)="this.playing = true"></app-play-game-panel>
<ng-template #game>
    <div class="back">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Your field</mat-card-title>
              <mat-card-subtitle>Preparation phase</mat-card-subtitle>
            </mat-card-header>

            <app-field ></app-field>w
            <mat-card-content>
              <p>
                Plase the boats in the grill by using...
              </p>
            </mat-card-content>
            <mat-card-actions>
                <mat-chip-list
                class="example-chip"
                cdkDropList 
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="drop($event)">
                <mat-chip
                  class="example-box"
                  cdkDrag
                  *ngFor="let ship of ships">
                  {{ship.type}}
                </mat-chip>
              </mat-chip-list>
            </mat-card-actions>
        </mat-card>
    </div>
</ng-template>