.play_button {
    width: 100vw;
    height: 33vh;
    color: #1976d2;
    font-size: 64px;
    text-align: left;
}

.spacer {
    width: 25%;
    height: 100vh;
    background-color: #CAE8E7;
}

.track-container {
    width: 25%;
    height: 100vh;
    filter: drop-shadow(4px 4px 10px 0px rgba(2, 1, 0, .78));
    margin-bottom: 0;
}

.triangle {
    height: 100vh;
    width: 50%;
    background: url(../../assets/panel.svg);
    background-size: 100% 100%;
}

.back {
    width: 100vw;
    height: 100vh;
    background-color: #CAE8E7;
}

.example-card {
    top: 85px;
    margin-left: 10vw;
    margin-right: 5px;
}

.shots-card {
    top: 85px;
    width: 30vh;
    margin-left: 5px;
    margin-right: 10vw;
    margin-bottom: 10px;
    max-width: 70vh;
}

.field-container {
    width: 75vh;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.opponent-header-image {
    background-image: url('https://cdn.pixabay.com/photo/2018/05/16/19/54/red-nosed-pit-bull-3406870__340.jpg');
    background-size: cover;
}

.hint {
    margin-top: 15px;
    font-style: italic;
    color: lightcoral;
}

.rotate-slider {
    margin-left: 20px;
}


.floating-banner {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(226, 100, 38);
    background: linear-gradient(90deg, rgba(226, 100, 38, 0.5466561624649859) 0%, rgba(196, 71, 9, 1) 50%);
}

.floating-banner-preparation {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(226, 100, 38);
    background: linear-gradient(90deg, rgba(226, 100, 38, 0.5466561624649859) 0%, rgba(196, 71, 9, 1) 50%);
}

.floating-banner-your {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(173, 204, 164);
    background: linear-gradient(90deg, rgba(173, 204, 164, 0.5466561624649859) 0%, rgba(127, 198, 109, 1) 50%);
}

.floating-banner-opponent {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(226, 100, 38);
    background: linear-gradient(90deg, rgba(226, 100, 38, 0.5466561624649859) 0%, rgba(196, 71, 9, 1) 50%);
}

.win-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
}

.text {
    color: white;
    text-align: center;
    margin: 0
}
