<app-play-game-panel *ngIf="!isPlaying(); else matchmaking" (gameEvent)="onGameEvent($event)"></app-play-game-panel>

<ng-template #matchmaking>
  <ng-container *ngIf="isMatchmaking(); else preparation">
    <app-matchmaking (joinedMatchEvent)="onMatchEvent($event)"></app-matchmaking>
  </ng-container>
</ng-template>

<ng-template #preparation>
  <ng-container *ngIf="isPreparing(); else play">
    <div class="back" style="display: flex; justify-content: center;">
      <div class="field-container">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Your field</mat-card-title>
            <mat-card-subtitle>Preparation phase: place the ships in the grid by clicking or dragging a chip, click a
              placed ship to remove it</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-field [selected]="this.selected" [listeners]="true" [rotated]="isRotated"
              (popShipEvent)="popShip($event)" (addShipEvent)="addShip($event)"
              (positionsEvent)="onPositionEvent($event)"></app-field>
          </mat-card-content>
          <mat-card-actions>
            <mat-chip-list #chipList [formControl]="formControl" class="example-chip" cdkDropList
              cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
              <mat-chip class="example-box" cdkDrag *ngFor="let ship of ships" [selectable]="false"
                (mousedown)="clickEvent($event)">
                {{ship.type}}
              </mat-chip>
            </mat-chip-list>
            <div style="display: flex; justify-content: space-between; padding-top: 20px;" *ngIf="this.selected">
              <p class="hint"> Selected ship: {{this.selected.type}}</p>
              <button *ngIf="isHorizontal()" mat-raised-button color="primary" aria-label="Rotate!"
                (click)="rotateShip($event)"> Rotate!</button>
              <button *ngIf="!isHorizontal()" mat-stroked-button color="primary" aria-label="Rotate!"
                (click)="rotateShip($event)"> Rotate!</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div style="height: 100vh;">
        <mat-card class="shots-card" style="opacity: 0.5;">
          <mat-card-header>
            <div mat-card-avatar class="opponent-header-image"></div>
            <mat-card-title>Opponent's field</mat-card-title>
            <mat-card-subtitle>Shoot your shots</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-shots (shotReadyEvent)="shotReady($event)" [listeners]="false" [props]="shotsformatProps()">
            </app-shots>
          </mat-card-content>
          <mat-card-actions>
            <div style="display: flex; justify-content: center;">
              <button mat-raised-button [disabled]="shot==null" (click)="shoot()">Shoot!</button>
            </div>
          </mat-card-actions>
        </mat-card>
        <mat-card class="shots-card">
          <mat-card-header>
            <mat-card-title>Chat</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style="height: 12vw; border: 1px dotted black">Chat...</div>
          </mat-card-content>
          <mat-card-actions>
            actions
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="floating-banner">
      <h1> Preparation: place your ships in 00:00 </h1>
      <button mat-raised-button [disabled]="this.ships.length != 0" (click)="initBoard()">Done</button>
    </div>
  </ng-container>
</ng-template>

<ng-template #play>
  <ng-container *ngIf="isPlaying(); else gamefriend">
    <div class="back" style="display: flex; justify-content: center;">
      <div class="field-container">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Your field</mat-card-title>
            <mat-card-subtitle>Fighting phase: place a shot in the opponent board and press "Shoot" </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-field [selected]="this.selected" [listeners]="false" [rotated]="isRotated"
              (popShipEvent)="popShip($event)" (addShipEvent)="addShip($event)"
              (positionsEvent)="onPositionEvent($event)" [props]="fieldformatProps()"></app-field>
          </mat-card-content>
          <mat-card-actions>
            <mat-chip-list #chipList [formControl]="formControl" class="example-chip" cdkDropList
              cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
              <mat-chip class="example-box" cdkDrag *ngFor="let ship of ships" [selectable]="false"
                (mousedown)="clickEvent($event)">
                {{ship.type}}
              </mat-chip>
            </mat-chip-list>
            <div style="display: flex; justify-content: space-between; padding-top: 20px;" *ngIf="this.selected">
              <p class="hint"> Selected ship: {{this.selected.type}}</p>
              <button *ngIf="isHorizontal()" mat-raised-button color="primary" aria-label="Rotate!"
                (click)="rotateShip($event)"> Rotate!</button>
              <button *ngIf="!isHorizontal()" mat-stroked-button color="primary" aria-label="Rotate!"
                (click)="rotateShip($event)"> Rotate!</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div style="height: 100vh;">
        <mat-card class="shots-card" [ngStyle]="{'opacity': turn ? 1 : 0.5 }">
          <mat-card-header>
            <div mat-card-avatar class="opponent-header-image"></div>
            <mat-card-title>Opponent's field</mat-card-title>
            <mat-card-subtitle>Shoot your shots</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-shots (shotReadyEvent)="shotReady($event)" [listeners]="true" [props]="shotsformatProps()"></app-shots>
          </mat-card-content>
          <mat-card-actions>
            <div style="display: flex; justify-content: center;">
              <button mat-raised-button [disabled]="!isShootEnabled()" (click)="shoot()">Shoot!</button>
            </div>
          </mat-card-actions>
        </mat-card>
        <mat-card class="shots-card">
          <mat-card-header>
            <mat-card-title>Chat</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style="height: 12vw; border: 1px dotted black; overflow-y: scroll;">
              <div *ngFor="let message of chat"><b>{{message.sender}}</b> : {{message.text}}</div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <input type="text" [(ngModel)]="text">
            <button mat-raised-button (click)="sendMessage()">Send!</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div *ngIf="turn == null" class="floating-banner">
      <h1> Waiting for opponent </h1>
    </div>
    <div *ngIf="turn == true" class="floating-banner">
      <h1> Your turn </h1>
    </div>
    <div *ngIf="turn == false" class="floating-banner">
      <h1> Opponent's turn </h1>
    </div>
  </ng-container>
</ng-template>

<ng-template #gamefriend>
  <ng-container>
    ciao
  </ng-container>
</ng-template>

<div *ngIf="winner()" class="win-screen">
  <div class="player-box">
    <img src="https://img.icons8.com/ios-filled/344/user-male-circle.png" width="100%" alt="">
    <h2>Nome</h2>
    <button mat-raised-button (click)="resetState()">Continue</button>
  </div>
</div>