<div *ngIf="!isOpened(); else open" class="menu">
    <mat-icon (click)="toggleStatus()">menu</mat-icon>
</div>

<ng-template #open>
    <div class="container">
        <div class="header">
            <div class="close-container" (click)="toggleStatus()">
                <mat-icon>close</mat-icon>
            </div>
            <div class="propic">
            </div>
            <mat-tab-group class="tabs">
                <mat-tab label="Chats"> <app-chat (openChatEvent)="bridge($event)"></app-chat> </mat-tab>
                <mat-tab label="Second"> Content 2 </mat-tab>
                <mat-tab label="Third"> Content 3 </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</ng-template>
