<div *ngIf="!isOpened(); else open" class="menu" (click)="toggleStatus()">
    <mat-icon *ngIf="n_pending != 0" [matBadge]=" '°' " class="hide-text" matBadgeColor="warn" matBadgeSize="small">menu</mat-icon>
    <mat-icon *ngIf="n_pending == 0" class="notification">menu</mat-icon>
</div>

<ng-template #open>
    <div class="container">
        <div class="header">
            <div class="close-container" (click)="toggleStatus()">
                <mat-icon>close</mat-icon>
            </div>
            <div class="propic">
                <img src="https://img.icons8.com/ios-filled/344/user-male-circle.png" width="100" height="100">
            </div>
            <mat-tab-group class="tabs" >
                <mat-tab label="Profile"> <app-profile-screen style="font-weight: 100"></app-profile-screen> </mat-tab>
                <mat-tab label="Friends"> <app-friends-screen> </app-friends-screen> </mat-tab>
                <mat-tab label="Chats" >
                    <app-chat (openChatEvent)="bridge($event)" ></app-chat>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="example-button-container">
        <button mat-fab aria-label="Start a new chat" (click)="openDialog()" style="background-color: #CAE8E7; color: #205B59; right: 10px; top:92vh ">
          <mat-icon>chat</mat-icon>
        </button>
    </div>
    <div *ngIf="isSearching()">
        <!-- TODO: sostituire style con una classe -->
        <app-menu-searchbox *ngIf="this.chatbox" [type]="'chat'" style="position: absolute; top:200px; right: 50vw; z-index: 100" (openChatEvent)="bridge($event)"></app-menu-searchbox>
        <app-menu-searchbox *ngIf="this.friendbox " [type]="'friend'" (openChatEvent)="bridge($event)" ></app-menu-searchbox>
    </div>
</ng-template>