<div class="wrapper">
    <div class="container">
        <div class="players">
            <div class="player-box">
                <img src="https://img.icons8.com/ios-filled/344/user-male-circle.png" width="100%" alt="">
                <h2>{{name}}</h2>
            </div>
            <h1 class="versus">VS</h1>
            <div class="player-box">
                <img src="https://img.icons8.com/ios-filled/344/user-male-circle.png" width="100%"  alt="">
                <h2>{{friendName}}</h2>
            </div>
        </div>
    </div>
</div>

<div class="spinner-container-flex">
    <div class="spinner-container">
        <mat-spinner class="mm-spinner"></mat-spinner>
        <h2> Waiting for friend...</h2>
        <button mat-raised-button style="margin-top: 20px" color="warn" > Leave </button>
    </div>
</div>
