<div class="scene"> 
  <div class="container">
    <h2 class="header" >Accedi</h2>
    <form>
      <div class="text-field-container">
        <input type="username" class="text-field" #mail id="email" placeholder="Enter email" name="email">
      </div>
      <div class="text-field-container">
        <input type="password" class="text-field" #pass id="pwd" placeholder="Enter password" name="pwd">
      </div>
      <div class="submit" (click)="onSubmit(mail.value,pass.value)" class="submit">Submit</div>
    </form>
    <a *ngIf="errors" style="color:red"> Wrong credentials! </a>
  </div>
</div>
