.container{
    width: 400px;
    height: 300px;
    background-color: #CAE8E7;
    box-shadow: 4px 4px 10px 0px rgba(2, 1, 0, .18);
    padding-bottom: 1rem;
}

.scene{
    width:100vw; 
    height:100vh - 500px;
    position:absolute;
    top:300px;
    text-align: center;
}

.header{
    font-size: 60px;
    color:black;
    margin-bottom: 20px;
}

.submit{
    margin-top: 10px;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    display: inline-block;
    padding: 5px;
    background-color: #CAE8E7; 
    color: #2B817E;
    border: 1px solid;
    border-color:#2B817E;
    border-radius:10px;
}
.submit:hover{
    display: inline-block;
    padding: 5px;
    background-color: #DB9D47; 
    color: #3A3042;
    border: 1px solid;
    border-color: #2B817E;
    border-radius:10px;
    cursor: pointer;
}

.text-field-container{
    background-color: transparent;
    border-bottom: solid 1px #2B817E;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.text-field{
    width: -webkit-fill-available;
    background-color: transparent;
    border: none;
    text-align: left;
    padding-bottom: 5px;
}